*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
:root {
  --bg: #080c10;
  --s1: #0e1318;
  --s2: #151c24;
  --s3: #1d2733;
  --border: #263040;
  --border2: #2e3d50;
  --acc: #00e5ff;
  --acc2: #ff5252;
  --acc3: #69ff47;
  --acc4: #ffab40;
  --acc5: #b388ff;
  --text: #e8edf2;
  --text2: #a0b0c0;
  --text3: #5a6e82;
  --r: 14px;
  --r-sm: 8px;
}
